@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rufina:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #c2efd4;
  padding: 54px 174px;
}

.hero-content h1 {
  font-family: "Rufina", serif;
  font-size: 86px;
  font-weight: 700;
  color: #224f34;
  max-width: 649px;
}

.hero-content p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #267d49;
  margin-top: 27px;
  margin-bottom: 54px;
  max-width: 565px;
  line-height: 220%;
}

.hero-content button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #224f34;
  padding: 22px 60px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.best-selling {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 54px 174px;
}

.best-selling button {
  color: #224f34;
  font-size: 22px;
  outline: 2px #224f34;
  background-color: white;
  padding: 16px 55px;
  border-radius: 3px;
  margin-top: 80px;
  cursor: pointer;
}

.best-selling-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.best-selling-content h2 {
  font-family: "Rufina", serif;
  font-size: 64px;
  font-weight: 400;
  color: #224f34;
  margin-bottom: 37px;
}

.best-selling-content p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #267d49;
  margin-bottom: 80px;
}

.best-selling-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.best-selling-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.best-selling-card h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 50px;
}

.best-selling-card-price {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.our-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 54px 174px;
}

.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 174px;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2efd4;
  padding: 0px 40px;
  width: 100%;
  max-width: 1377px;
}

.offer h2 {
  font-family: "Rufina", serif;
  font-size: 46px;
  font-weight: 400;
  color: #224f34;
  margin-bottom: 20px;
}

.offer p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #267d49;
}

.offer-content-paragraph {
  width: 500px;
}

.offer-countdown-container {
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 40px 0px;
}

.offer-countdown {
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.offer-countdown p {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #224f34;
}

.offer-countdown span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #267d49;
  margin: 0;
  margin-top: 5px;
  line-height: 1;
}

.offer-content button {
  color: #fff;
  font-size: 22px;
  background-color: #224f34;
  padding: 16px 55px;
  border-radius: 3px;
  cursor: pointer;
}

.designer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 218px;
  width: 100%;
}

.designer h2 {
  font-family: "Rufina", serif;
  font-size: 46px;
  font-weight: 400;
  color: #224f34;
  margin-bottom: 20px;
}

.designer p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #267d49;
  margin-bottom: 72px;
}

.designer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.designer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designer-card h3 {
  color: #373737;
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.designer-card p {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #373737;
  margin-bottom: 72px;
  width: 420px;
  text-align: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 218px;
  margin-bottom: 194px;
  width: 100%;
}

.feedback h2 {
  font-family: "Rufina", serif;
  font-size: 46px;
  font-weight: 400;
  color: #224f34;
  margin-bottom: 109px;
}

.feedback-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
  margin-bottom: 125px;
}

.feedback-card {
  border-radius: 3px;
  background-color: white;
  padding: 20px 30px;
  width: 434px;
  box-shadow: #373737;
}

.feedback-card h3 {
  font-family: "Rufina", serif;
  font-size: 22px;
  font-weight: 700;
  color: #224f34;
  margin-bottom: 30px;
}

.feedback-card p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6f6f6f;
}

.feedback-card-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.toggle-background {
  padding: 16px;
  border-radius: 3px;
  cursor: pointer;
}

footer {
  background-color: #224f34;
  padding: 80px 174px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

footer h1 {
  font-family: "Rufina", serif;
  font-size: 50px;
  font-weight: 400;
}

.links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.links a {
  color: white;
  text-decoration: none;
}
